#Projetos{
    background-color: var(--clear);
    height: 600px;
    text-align: center;
    padding: 50px;
    align-items: center;
}

#Projetos h1{
    color: var(--dark);
    font-family: 'Press Start 2P', 'cursive';
    font-size: 1.5rem;
    margin-top: 25px;
    padding-bottom: 100px;
}

.owl-carousel{
    display: flex;
    justify-content: center;
}

.owl__card{
    align-items: center;
    background-color: gray;
    border: 2px solid black;
    display: block;
    height: 360px;
    margin-right: 10px;
    margin-left: 35px;
    width: 353px;
}

.owl__card-title {
    width: 100%;
    height:  30px;
    font-family: 'Press Start 2P', 'cursive';
    font-size: 15px;
    text-align: center;
    
}

.owl__card-img {
    
    height: 70%;
    border: black;
   
}

.owl__card-button {
    width: 100%;
}

.button {
    

}

.owl-stage{
    width: 500px;
}



